h1, h2, h3, h4, h5, h6, p, a {
  color: #ffffff;
}

@media(min-width:468px){
  .container-1{
    height: 10%;
    display:flex;
    /*
    align-items:flex-start;
    align-items:flex-end;
    align-items:center;

    flex-direction:column;
    */
  }

  .container-2{
    height: 70%;
    display:flex;
    /*
    justify-content:flex-start;
    justify-content:center;
    justify-content:space-around;
    */
    /*justify-content:space-between;*/
  }
}

.container-3{
  height: 5%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.container-1 div, .container-2 div, .container-3 div{
  border:0px #ccc solid;
  padding:10px;
}

.box-1{
  flex:1;
  order:1;
  backdrop-filter: blur(5px);
  max-width: 7vw;
}

.box-1+.box-2{
  margin-left: 30vw;
}

.box-2{
  flex:1;
  order:2;
  backdrop-filter: blur(5px);
  max-width: 15vw;
}

.box-2+.box-3{
  margin-left: 20vw;
}

.box-3{
  flex:1;
  order: 3;
  backdrop-filter: blur(5px);
  max-width: 25vw;
}

.box-4{
  flex:1;
  order: 4;
}

.c2-box-1{
  flex:1;
  order: 1;
}

.c2-box-1+.c2-box-2{
  margin-left: 20vw;
}

.c2-box-2{
  flex:1;
  order: 2;
}

.c3-box-1{
  flex:1;
  order: 1;
  backdrop-filter: blur(5px);
}

body{
  background-image: url("../../assets/taustad/pilt1.jpg");
}
