@media(min-width:468px){
  .container-1{
    height: 10%;
    display:flex;
    /*
    align-items:flex-start;
    align-items:flex-end;
    align-items:center;

    flex-direction:column;
    */
  }

  .container-2{
    height: 70%;
    display:flex;
    /*
    justify-content:flex-start;
    justify-content:flex-end;
    justify-content:center;
    justify-content:space-around;
    */
    /*justify-content:space-between;*/
  }
}

.container-3{
  height: 5%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.container-1 div, .container-2 div, .container-3 div{
  border:1px #ccc solid;
  padding:10px;
}

.box-1{
  flex:1;
  order:1;
}

.box-2{
  flex:1.5;
  order:2;
}

.box-3{
  flex:13;
  order: 3;
}

.box-4{
  flex:1;
  order: 4;
}

.c2-box-1{
  flex:1;
  order: 1;
}

.c2-box-2{
  flex:1;
  order: 2;
}

.c3-box-1{
  flex:1;
  order: 1;
}

body{
  background: linear-gradient(3deg, #1e571a, #18545e);
  background-size: 400% 400%;

  -webkit-animation: Gradient 7s ease infinite;
  -moz-animation: Gradient 7s ease infinite;
  animation: Gradient 7s ease infinite;
}

@-webkit-keyframes Gradient {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-moz-keyframes Gradient {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@keyframes Gradient {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}

