h1, h2, h3, h4, h5, h6, p, a {
  color: #ffffff;
  font-size: 1.3vw;
  text-shadow: black 0px 0px 10px;
}

.container-1{
  height: 50%;
  display:flex;
}

.container-2{
  height: 70%;
  display:flex;
}


.container-1 div, .container-2 div{
  //border:1px #ccc solid;
  //padding:10px;
}

.box-1{
  flex:1;
  order:1;
}

.box-2{
  flex:1;
  order:2;
}

.box-3{
  flex:1;
  order:3;
  padding-top: 2vh;
  font-size: 2vh;
}

.c2-box-1{
  flex:1;
  order: 1;
  padding: 0;
}

body{
  background: transparent;
}

.img {
  width: 70px;
  height: 70px;
  overflow: hidden;
}



