<div class="col-xs-12 col-md-6 col-md-offset-3">
  <div>
    <h3>News by NewsAPI.org</h3>
  </div>
  <br>
  <div>
    <form [formGroup]="APIKeyForm" (ngSubmit)="onSaveAPIKey()">
      <div class="form-group">
        <label for="APIKey">API Key</label>
        <input
          type="text"
          id="APIKey"
          formControlName="APIKey"
          class="form-control">
      </div>
      <button class="btn btn-primary" type="submit">Save Key</button>
    </form>
  </div>
  <br>
  <div>
    <h4>News by source and keyword</h4>
    <p class="font-italic mt-1 mb-1">At least one needs to be selected</p>
    <form class="form-group" [formGroup]="newsForm" (ngSubmit)="onSelectedNews()">
      <div>
        <label for="news-source">News Source</label>
        <select formControlName="newsSource" id="news-source" class="form-control" (change)="onChange()" #newsSource>
          <option [ngValue]="''"></option>
          <option *ngFor="let source of newsSources;" [ngValue]="source">{{source.name}}</option>
        </select>
      </div>
      <div *ngIf="selectedSource">
        <h5>{{selectedSource.name}}</h5>
        <p>Country: {{selectedSource.country | countryName}}</p>
        <p>{{selectedSource.url}}</p>
        <p>{{selectedSource.description}}</p>
      </div>
      <div>
        <label for="keyword">Keyword</label>
        <input class="form-control" id="keyword" formControlName="keyword" #keyword>
      </div>
      <p>Found {{numberOfArticles}} {{numberOfArticles != 1 ? "articles" : "article"}}</p>
      <button [disabled]="newsSource.value == '' && keyword.value == ''" class="btn btn-success" type="submit">Save</button>
    </form>
  </div>
</div>
