<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-weather-admin></app-weather-admin>
      <hr>
      <app-weather></app-weather>
    </div>
    <section class="card card-info text-white bg-dark mb-3">
      <div class="card-header">E goverment</div>
      <section class="card-img-top">
        <youtube-player
          [videoId]="id"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
          [playerVars]="playerVars">
        </youtube-player>
      </section>
      <div class="card-body"></div>
    </section>
  </div>
</div>
-->

<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


