<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="sn-link">Feeds</mat-toolbar>
    <mat-nav-list>
      <a class="sn-link" routerLinkActive="active-list-item" mat-list-item [routerLink]="['/', 'admin', 'news']"> News </a>
      <a class="sn-link" routerLinkActive="active-list-item" mat-list-item [routerLink]="['/', 'admin', 'weather']"> Weather </a>
      <a class="sn-link" routerLinkActive="active-list-item" mat-list-item [routerLink]="['/', 'admin', 'video']"> Video </a>
      <a class="sn-link" routerLinkActive="active-list-item" mat-list-item [routerLink]="['/', 'admin', 'transport']"> Transport </a>
      <hr>
      <a class="sn-link" mat-list-item [routerLink]="['/']"> Information Screen </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
