<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLinkActive="active" [routerLink]="['admin', 'news']" class="navbar-brand">News</a>
    </div>
    <div class="navbar-header">
      <a routerLinkActive="active" [routerLink]="['admin', 'weather']" class="navbar-brand">Weather</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand">Video</a>
    </div>
    <div class="navbar-header">
      <a routerLinkActive="active" routerLink="/" class="navbar-brand">Data Feeds</a>
    </div>
  </div>
</nav>
