<div>
  <h3 class="custom-header">Youtube Video</h3>
  <form [formGroup]="videoForm" (ngSubmit)="onSaveVideo()" class="form-container">
    <mat-form-field>
      <input
        type="text"
        id="videoLocation"
        formControlName="videoLocation"
        matInput
        placeholder="Video Location">
    </mat-form-field>

    <div *ngIf="errorMessage" class="alert alert-danger">
      <p>Error: </p>
      <p>{{errorMessage}}</p>
    </div>
    <div class="custom-button">
      <button mat-raised-button color="primary" type="submit">Save Video</button>
    </div>
  </form>
</div>
