<div class="col-xs-12 col-md-6 col-md-offset-3">
  <div>
    <h3>Video feed</h3>
  </div>
  <br>
  <div>
    <form [formGroup]="videoForm" (ngSubmit)="onSaveVideo()">
      <div class="form-group">
        <label for="videoLocation">Video location</label>
        <input
          type="text"
          id="videoLocation"
          formControlName="videoLocation"
          class="form-control">
      </div>
      <button class="btn btn-primary" type="submit">Save Video</button>
    </form>
  </div>
</div>
