<div class="admin-div">
  <h3 class="custom-header">Transport</h3>
  <form [formGroup]="APIKeyForm" (ngSubmit)="onSaveAPIKey()" class="form-container">
    <mat-form-field>
      <input
        type="text"
        id="APIKey"
        formControlName="APIKey"
        matInput
        placeholder="API Key">
    </mat-form-field>
    <p *ngIf="">Saved API Key</p>
    <div class="custom-button">
      <button mat-raised-button color="primary" type="submit">Save Key</button>
    </div>
  </form>
</div>
