<div>
  <h3 class="custom-header">News</h3>
  <form [formGroup]="APIKeyForm" (ngSubmit)="onSaveAPIKey()" class="form-container">
    <mat-form-field>
      <input
        type="text"
        id="APIKey"
        formControlName="APIKey"
        matInput
        placeholder="API Key">
    </mat-form-field>
      <div class="custom-button">
        <button mat-raised-button color="primary" type="submit">Save Key</button>
        <app-saved-message
          [saving]="keySaved"
          (saved)="keySaved=false"
        ></app-saved-message>
      </div>
  </form>
  <form [formGroup]="newsForm" (ngSubmit)="onSelectedNews()" class="form-container">
    <mat-form-field>
      <mat-select placeholder="News Source" formControlName="newsSource" id="news-source" (selectionChange)="onChange($event)" #newsSource>
        <mat-option *ngFor="let source of newsSources;" [value]="source">{{source.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="custom-panel">
      <mat-expansion-panel *ngFor="let s of selectedSources">
        <mat-expansion-panel-header>
          <mat-panel-title>{{s.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Country: {{s.country | countryName}}</p>
        <p>{{s.description}}</p>
        <button type="button" mat-button color="warn" (click)="onRemoveSource(s)">
          Click to Remove
        </button>
      </mat-expansion-panel>
    </div>


    <div *ngIf="errorMessage" class="alert alert-danger">
      <p>Error: </p>
      <p>{{errorMessage}}</p>
    </div>
    <div class="custom-button">
      <button mat-raised-button color="primary" type="submit">Save Sources</button>
      <app-saved-message
        [saving]="newsSaved"
        (saved)="newsSaved=false"
      ></app-saved-message>
    </div>
  </form>
</div>
