<div>
  <h3 class="custom-header">Weather</h3>
  <form [formGroup]="APIKeyForm" (ngSubmit)="onSaveAPIKey()" class="form-container">
    <mat-form-field>
      <input
        type="text"
        id="APIKey"
        formControlName="APIKey"
        matInput
        placeholder="API Key">
    </mat-form-field>
    <p *ngIf="">Saved API Key</p>
    <div class="custom-button">
      <button mat-raised-button color="primary" type="submit">Save Key</button>
    </div>
  </form>

  <form [formGroup]="weatherReqForm" (ngSubmit)="onCheckWeather()" class="form-container">
    <mat-form-field>
      <input
        type="text"
        id="city"
        formControlName="city"
        matInput
        placeholder="City">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Units" formControlName="isMetric" id="isMetric">
        <mat-option [value]="true">°C</mat-option>
        <mat-option [value]="false">°F</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      <p>Error: </p>
      <p>{{errorMessage}}</p>
    </div>


    <div *ngIf="errorMessageSources" class="alert alert-danger">
      <p>Error: </p>
      <p>{{errorMessageSources}}</p>
    </div>

    <div class="custom-button">
      <button mat-raised-button color="primary" type="submit">Save City</button>
    </div>
  </form>
</div>




