.form-container {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.form-container > * {
  width: 100%;
}

.custom-button {
  align-content: flex-start;
  display: inline;
}

.custom-panel {
  padding-top: 1em;
  padding-bottom: 1em;
}

.custom-header {
  display: flex;
  flex-direction: column;
}

.header-info {
  display: inline-block;
}

.admin-div {
  padding: 2em 8%;
}
