h3 {font-size: 250%}
h4 {font-size: 150%}
h5 {font-size: 100%}


.container-1{
  height: 10%;
  display:flex;
  /*
  align-items:flex-start;
  align-items:flex-end;
  align-items:center;

  flex-direction:column;
  */
}

.box-1{
  flex:1;
  order:1;
}

.box-2{
  flex:1;
  order:2;
}

body{
  background: transparent;
}

img {
  max-height: 350px;
  max-width: 350px;
  float: left;
  padding-right: 50px;
}
