h3 {font-size: 250%}
h4 {font-size: 150%}
h5 {font-size: 100%}

h1, h2, h3, h4, h5, h6, p, a {
  color: #ffffff;
}

body{
  background: transparent;
  backdrop-filter: blur(5px);
  overflow-y: hidden;
}

img {
  max-height: 350px;
  max-width: 350px;
  float: left;
  padding-right: 50px;
}


